/* Hide all elements until loaded complete */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

svg#map {
    width: 100%;
    height: 100%;
    border-right: 1px solid #B9BFBD;
}

div.full-height {
    height: 100%;
    padding: 0;
}

#sidebar {
    padding-left: 0;
    background-color: #EBF2F0;
    height: 100%;
}

div#municipality-panel {
    padding: 10px;
    background-color: #011C26;
}

div#scope-panel {
    padding: 10px;
    background-color: #406473;
}

#extract {
    background-color: #EBF2F0;
    padding: 10px;
    margin: 0;
    height: 10em !important;
    overflow-y: scroll;
    border-bottom: 1px solid #B9BFBD;
}

#sidebar h3 {
    margin: 10px 10px 0;
    color: #011C26;
}

path {
    stroke: grey;
    stroke-width: 1px;
    fill: white; /* Color of undefined */
}

.select2-container {
    width: 100%;
}

/* Legend */
#maplegend {
    width: 200px;
    border-radius: 0;
    position: fixed;
    left: 5px;
    top: 5px;
}
dt {
    width: 20px !important;
    height: 20px;
}
dd {
    margin-left: 25px !important;
}
dl {
    margin: 0;
}


/* Spinner */
.spinner {
    margin: 10px auto;
    width: 32px;
    height: 32px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #333;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        } 50% {
            transform: translateX(42px) translateY(42px) rotate(-179deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
            } 50.1% {
                transform: translateX(42px) translateY(42px) rotate(-180deg);
                -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
                } 75% {
                    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
                    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
                    } 100% {
                        transform: rotate(-360deg);
                        -webkit-transform: rotate(-360deg);
                    }
                }

/* Results bar chart styling */
svg#results {
    margin: 0;
    width: 100%;
    height: 18em !important;
    border-bottom: 1px solid #B9BFBD;
}

svg#results g.axis path {
    fill: #EBF2F0;
}

svg#results g.tick text {
    font-size: 12px;
    color: #444;
}

svg#results text.text {
    font-size: 11px;
}
